@CHARSET "UTF-8";

#pannel {
	position:absolute;
	right:5%;
	top:5%;
}

#select_position {
	background-color:#fff;
	padding:3px;
	margin:5px;
}

#inform {
	position:absolute;
	top:0;
	left:50%;
}

#map_canvas {
	width:80%;
	height:100%;
	left:20%;
}

#left {
	position:absolute;
	width:20%;
	height:100%;
}

#logo {
	height:20%;
	width:100%;
}

#leftdown {
	height:80%;
	width:100%;
	background:#ddd;
	overflow:scroll;
}