@CHARSET "UTF-8";

#pannel {
	position:absolute;
	right:5%;
	top:5%;
	background-color:#eee;
	border:1px solid #CCC;
}

#select_position,#control {
	padding:3px;
	margin:5px;
}

#inform {
	position:absolute;
	top:0;
	left:50%;
}

#map_canvas {
	width:80%;
	height:100%;
	left:20%;
}

#left {
	position:absolute;
	width:20%;
	height:100%;
	overflow:hidden;
}

#logo {
	height:10%;
	width:100%;
}

#div_search {
	height:10%;
	width:100%;
	text-align:center;
}

#leftdown {
	height:78%;
	width:100%;
	overflow:auto;
}

#search {
	margin:auto;
}